body {
    font-family: 'Fondamento', cursive;
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    background-color: #333333;
    color: whitesmoke;
}

button:focus {
    outline: 0;
}

/* NAV BAR SECTION */

a {
    text-decoration: none;
    color: whitesmoke;
}

ul {
    list-style: none;
}

li {
    display: inline;
    padding-right: 10px;
}

li:nth-child(5) {
    padding-right: 0;
}

h1 {
    font-size: 1.6em;
    color: whitesmoke;
    text-transform: capitalize;
    float: left;
    margin-left: 10px;
    margin-top: 22px;
}

button {
    float: right;
    margin: 20px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #333333;
}

#icon-bar {
    color: whitesmoke;
    display: block;

}

#nav-bar {
    width: 100%;
    height: 80px;
    background: #333333;
    margin: 0;
    position: fixed;
}

#logo-img {
    background: url("../imagens/logo_banda_extra_small.png") no-repeat;
    width: 50px;
    height: 57px;
    border-radius: 5px;
    float: left;
    margin-top: 11px;
}

#nav-menu {
    float: right;
    margin-bottom: 0;
    margin-top: 40px;
    font-size: 1.4em;
}

/* COLLAPSABLE MENU */

#collapsable-menu {
    position: absolute;
    margin-top: 80px;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
    background-color: #333333;
    color: whitesmoke;
    text-align: center;
}

#collapsable-menu li {
    display: block;
}

/* MAIN CONTENT SECTION */

#main-content {
    background: whitesmoke;
    color: #333333;
    padding-top: 100px;
}


/* FOOTER SECTION */

#footer {
    width: 100%;
    height: 160px;
    background: #333333;
    margin: 0;
    text-align: center;
    font-family: 'Calibri', serif ;
}

.footer-info-block {
    float: left;
    font-size: 1.6em;
    padding: 5px 25px;
    width: 28%;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.footer-info {
    font-size: 0.8em;
    padding-top: 2px;
    padding-bottom: 5px;
    text-align: center;
}

#facebook-logo {
    font-size: 1.8em;
    padding-top: 8px;
}

#facebook-logo:hover {
    color: #3b5998;
    transition: 0.2s;
}

#logo-camara {
    background: url("../imagens/logo-camara_small.png") no-repeat center;
    width: 280px;
    height: 95px;
    margin-left: auto;
    margin-right: auto;
}


/************* Large Devices Only *************/
@media (min-width: 1200px) {

    /* NAV BAR SECTION */

    .container {
        width: 1150px;
    }

    .hidden-l {
        display: none;
    }

    /* COLLAPSABLE MENU */

    #collapsable-menu {
        display: none;
    }

}

/************* Medium Devices Only *************/
@media (min-width: 992px) and (max-width: 1199px) {

    /* NAV BAR SECTION */

    .container {
        width: 942px;
    }

    .hidden-m {
        display: none;
    }

    /* COLLAPSABLE MENU */

    #collapsable-menu {
        display: none;
    }

    /*  FOOTER SECTION  */

    .footer-info {
        font-size: 0.7em;
    }
}


/************* Small Devices Only *************/
@media (min-width: 768px) and (max-width: 991px){

    /* NAV BAR SECTION */

    .container {
        width: 718px;
    }

    .hidden-sm {
        display: none;
    }

    /*  FOOTER SECTION  */

    #footer {
        height: 120px;
    }

    .footer-info-block {
        font-size: 1.2em;
        width: 25%;
    }

    .footer-info {
        font-size: 0.6em;
    }

    #map-tile iframe {
        width: 150px;
        height: 70px;
    }

    #logo-camara {
        background: url("../imagens/logo-camara_extra_small.png");
        width: 180px;
        height: 61px;
    }
}

/************* Extra Small Devices Only *************/
@media (min-width: 480px) and (max-width: 767px) {

    /* NAV BAR SECTION */

    .container {
        width: 430px;
    }

    .hidden-xsm{
        display: none;
    }

    h1 span {
        display: block;
    }

    h1 {
        font-size: 1.2em;
    }

    #nav-bar {
        height: 126px;
    }

    #logo-img {
        background: url("../imagens/logo_banda_small.png");
        width: 89px;
        height: 101px;
        margin-left: auto;
        margin-right: auto;
    }

    #collapse-menu_button {
        margin-top: 40px;
    }

    #main-content {
        padding-top: 131px;
    }

    /*  FOOTER SECTION  */

    #footer {
        height: 450px;
    }

    .footer-info-block {
        font-size: 1.6em;
        width: 100%;
    }

    .footer-info {
        font-size: 0.6em;
    }

    #map-tile iframe {
        width: 250px;
        height: 100px;
    }

    #logo-camara {
        background: url("../imagens/logo-camara_small.png") no-repeat center;
        width: 280px;
        height: 95px;
        margin-left: auto;
        margin-right: auto;
    }
}

/************* Ultra Small Devices Only *************/
@media (max-width: 479px) {
    /* NAV BAR SECTION */

    .container {
        width: 95%;
    }

    .hidden-xsm{
        display: none;
    }

    h1 span {
        display: block;
    }

    h1 {
        font-size: 1.2em;
    }

    #nav-bar {
        height: 126px;
    }

    #logo-img {
        background: url("../imagens/logo_banda_small.png");
        width: 89px;
        height: 101px;
        margin-left: auto;
        margin-right: auto;
    }

    #collapse-menu_button {
        margin-top: 40px;
    }

    #main-content {
        padding-top: 131px;
    }

    /* COLLAPSABLE MENU */

    #collapsable-menu {
       margin-top: 126px;
    }

    /*  FOOTER SECTION  */

    #footer {
        height: 450px;
    }

    .footer-info-block {
        font-size: 1.4em;
        width: 85%;
    }

    .footer-info {
        font-size: 0.6em;
        display: block;
    }

    a.footer-info {
        display: inline-block;
    }

    #map-tile iframe {
        margin-top: 10px;
        width: 250px;
        height: 100px;
    }

    #logo-camara {
        background: url("../imagens/logo-camara_small.png") no-repeat center;
        width: 250px;
        height: 95px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -10px;
    }

    .footer-title a {
        width: 260px;
    }

}

