* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #DCDCDC;
    /*font-family: 'Cormorant Upright', serif;*/
    font-family: 'Fondamento', cursive;
}

/* NAV BAR SECTION */

a {
    text-decoration: none;
}

.container {
    margin: 0;
    background: #333333 ;
    padding: 10px 100px;
}

#navbar{
    position: fixed;
    left: 0;
    top: 0;
    height: 155px;
    width: 100%;
}

#logo-img {
    background: url("../imagens/logo_banda.png") no-repeat;
    border-radius: 10px;
    border: #DCDCDC solid 2px;
    background-size: cover;
    width: 119px;
    height: 135px;
    float: left;
    margin-right: 10px;
}

h1 {
    text-transform: capitalize;
    background-color: #333333;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 1px 1px 2px #DCDCDC;
    color: #DCDCDC;
    margin-top: 40px;
}

@keyframes shiny-animation {
    0%{
        color: #A9A9A9;
    }
    100%{
        color: #DCDCDC;
    }
}

#nav-menu {
    float: right;
    background: #333333;
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
}

.button {
    display: inline;
    background: #333333
}

.button a {
    background: #333333;
    color: #DCDCDC;
    font-size: 1.7em;
    margin: 0 5px 0 5px;
}

.button a:hover {
    animation: shiny-animation 0.3s linear;
}

/* MAIN CONTENT SECTION */

.container#main-content {
    background: #DCDCDC;
    color: #333333;
    margin-top: 160px;
}

/* FOOTER SECTION */

.container#footer {
    background: #333333;
    color: #DCDCDC;
    height: 155px;
}

/************* Large Devices Only *************/
@media (min-width: 1200px) {

}

/************* Medium Devices Only *************/
@media (min-width: 992px) and (max-width: 1199px) {

}


/************* Small Devices Only *************/
@media (min-width: 768px) and (max-width: 991px){

    * {
        font-size: 0.9em;
    }

    /* NAV BAR SECTION */

    .container {
        height: 121px;
    }

    #logo-img {
        background: url("../imagens/logo_banda_small.png") no-repeat;
        border-radius: 10px;
        border: #DCDCDC solid 2px;
        background-size: cover;
        width: 89px;
        height: 101px;
        float: left;
        margin-right: 5px;
    }

    h1 {
        margin-top: 30px;
    }

    #nav-menu {
        margin: 20px 0 0 0;
    }
}

/************* Extra Small Devices Only *************/
@media (min-width: 480px) and (max-width: 767px) {

}
/*p{*/
/*    font-family: sans-serif;*/
/*    font-size: 50px;*/
/*    font-weight: 100;*/
/*    color: #262626;*/
/*    position: absolute;*/
/*    text-transform: capitalize;*/
/*    text-decoration: none;*/
/*    transition: 0.5s;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    display: flex;*/
/*    margin: 20px 0;*/
/*    z-index: 1;*/
/*}*/

/*p::before{*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border-top: 2px solid #262626;*/
/*    border-bottom: 2px solid #262626;*/
/*    transform: scaleY(2);*/
/*    opacity: 0;*/
/*    transition: 0.3s;*/
/*}*/

/*p::after{*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 2px;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border-top: 2px solid #262626;*/
/*    border-bottom: 2px solid #262626;*/
/*    transform: scale(0);*/
/*    opacity: 0;*/
/*    transition: 0.3s;*/
/*    background-color: #262626;*/
/*    z-index: -1;*/
/*}*/

/*p:hover{*/
/*    color: #fff;*/
/*}*/

/*p:hover::before{*/
/*    transform: scaleY(1);*/
/*    opacity: 1;*/
/*}*/

/*p:hover::after{*/
/*    transform: scaleY(1);*/
/*    opacity: 1;*/
/*}*/
